.review__block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.review__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review__heading {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.review__title {
  color: black;
  font-weight: bold;
}

.review__rating {
  color: black;
}

.review__text {
  color: black;
  line-height: 1.5;
}
